/* Import Custom Fonts */
@font-face {
    font-family: 'Neue Montreal-Book';
    src: url('../../asset/font/PPNeueMontreal-Book.woff') format('woff');
}

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: white;
    font-family: 'Neue Montreal-Book', sans-serif;
    overflow-x: hidden;
    padding: 0 1.5vw;
    overflow-y: hidden;
    
}

/* Fixed Yellow Side Lines */
.fixed-lines {
    position: fixed;
    top: 0;
    left: 1.3vw;
    width: 0.162vw;
    height: 100vh;
    background: #FDDD1C;
    z-index: 20; /* Increased to ensure it stays above other elements */
}

.fixed-lines::after {
    content: "";
    position: fixed;
    top: 0;
    right: 1.3vw;
    width: 0.162vw;
    height: 100vh;
    background: #FDDD1C;
    z-index: 20; /* Increased to ensure it stays above other elements */
}

/* Fixed Header */
header {
    position: fixed;
    top: 1.3vw;
    width: calc(100% - 3vw); /* Keeps header within yellow lines */
    left: 1.5vw; /* Aligns header exactly within the yellow lines */
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Aligns About and Icon to the top */
    padding: 0 1.3vw;
    z-index: 10;
}

/* About Section */
.about {
    font-family: 'Neue Montreal-Book';
    font-size: 1.9vw;
    color: #FDDD1C;
    margin: 0;
    padding: 0;
    text-align: left;
}

.about:hover {
    color: black;
    transition: all 0.3s ease;
    background:white;
}

/* Custom Icon Styling */
.icon {
    display: flex;
    position: relative;
    width: 3.6vw;
    height: 3.6vw;
    align-items: flex-start; /* Aligns content to the top */
    justify-content: center;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

/* General Bar Styling */
.bar {
    width: 0.181vw;
    height: 1.4vw;
    background: #FDDD1C;
    position: absolute;
}

.icon:hover .bar {
    background: black;
    transition: all 0.3s ease;
}

.icon:hover {
    background:white;
    transition: all 0.3s ease;
} 

/* Row 1 - Top Bar */
.row-1 {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* Row 2 - Two Bars */
.row-2:nth-child(2) {
    top: 1.4vw;
    left: 25%;
}

.row-2:nth-child(3) {
    top: 1.4vw;
    right: 25%;
}

/* Row 3 - Three Bars */
.row-3:nth-child(4) {
    top: 2.8vw;
    left: 0%;
}

.row-3:nth-child(5) {
    top: 2.8vw;
    left: 50%;
    transform: translateX(-50%);
}

.row-3:nth-child(6) {
    top: 2.8vw;
    right: 0%;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
    gap: 1.5vw;
    width: 100%;
    height: 100vh;  /* Full viewport height */
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

/* Left Column: Scrollable Body Text */
.body-text {
    grid-column: 1 / 2;
    font-size: 1.1vw;
    line-height: 1.3vw;
    color: black;
    text-align: left;
    padding: 1.3vw;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-x: hidden;
    hyphens: auto;
    overflow-y: auto;
    padding-top: 7vw; /* Start 6vw lower */
    scroll-padding-top: 7vw; 
    box-sizing: border-box;
}

.body-text::-webkit-scrollbar {
    display: none;
}

/* Centered Fixed Image */
.image {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 13.5vw;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding:2vw;
}

.image img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
    display: block;
    cursor: zoom-in;
}

/* Right Column: Fixed Image Caption */
.image-caption {
    grid-column: 6 / 7;
    font-size: 1.1vw;
    line-height: 1.3vw;
    text-align: left;
    padding: 1.3vw;
    box-sizing: border-box;
    background: white;
    display: block;
    hyphens: auto;
    overflow-y: auto;
    padding-top: 7vw; /* Start 6vw lower */
}

/* Divider Lines for 6 Columns */
.column-divider-1 {
    position: fixed;
    top: 0;
    left: 16.66%;
    transform: translateX(-50%);
    width: 0.16vw;
    height: 100vh;
    background: #FDDD1C;
    z-index: 5;
    mix-blend-mode: multiply;
}

.column-divider-2 {
    position: fixed;
    top: 0;
    left: 33.33%;
    transform: translateX(-50%);
    width: 0.16vw;
    height: 100vh;
    background: #FDDD1C;
    z-index: 5;
    mix-blend-mode: multiply;
}

.column-divider-3 {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0.16vw;
    height: 100vh;
    background: #FDDD1C;
    z-index: 5;
    mix-blend-mode: multiply;
}

.column-divider-4 {
    position: fixed;
    top: 0;
    left: 66.66%;
    transform: translateX(-50%);
    width: 0.16vw;
    height: 100vh;
    background: #FDDD1C;
    z-index: 5;
    mix-blend-mode: multiply;
}

.column-divider-5 {
    position: fixed;
    top: 0;
    left: 83.33%;
    transform: translateX(-50%);
    width: 0.16vw;
    height: 100vh;
    background: #FDDD1C;
    z-index: 5;
    mix-blend-mode: multiply;
}

.fig-link {
    text-decoration: none;
    cursor: pointer;
}

.fig-number {
    display: inline;
    color: #FDDD1C;
}

.fig-link:hover .fig-number {
    color: black;
    transition: all 0.3s ease;
}

.caption-text {
    display: inline;
}

.heading {
    text-transform: uppercase;
    font-family: 'Neue Montreal-Book';
    hyphens: none;
}

.scroll-to-top {
    position: fixed;
    bottom: 1.3vw;
    right: 2.8vw;
    font-size: 1.9vw;
    color: #FDDD1C; /* Yellow Color for Arrow */
    background: transparent; /* No Background */
    border: none;
    cursor: pointer;
    z-index: 100;
    transition: transform 0.3s;
}

.scroll-to-top:hover {
    color: black;
    transition: all 0.3s ease;
}

.scroll-to-top.show {
    opacity: 1;
    pointer-events: auto;
}

/* Overlay Styles */
.image-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.85); /* Transparent White */
    z-index: 1000;
    cursor: pointer;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}

.image-popup.show {
    opacity: 1;
    pointer-events: auto;
}

.image-popup img {
    max-width: 70vw;
    max-height: 65vh;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transform: scale(0.8);
    opacity: 0;
    border-radius: 0; /* No Border Radius */
    display: block;
}

/* Popup Animation */
.image-popup.show img {
    transform: scale(1);
    opacity: 1;
}

.sub-heading {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    word-wrap: break-word;
    vertical-align: bottom; /* Aligns the bottom of the text */
}

a {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 768px) {
    .mobile-emsp {
        white-space: pre-line;
        content: "\2003\2003";  /* This will add an additional em space */
    }

    body {
        overflow-x: hidden;
        overflow-y: auto;
    }

    /* Global Scrollbar Removal */
    body, .grid-container, .image, .image-caption, .body-text {
        /* For Firefox */
        scrollbar-width: none;
        
        /* For IE, Edge, Chrome, Safari, Opera */
        -ms-overflow-style: none;
    }
    
    /* Chrome, Safari, Opera */
    body::-webkit-scrollbar,
    .grid-container::-webkit-scrollbar,
    .image::-webkit-scrollbar,
    .image-caption::-webkit-scrollbar,
    .body-text::-webkit-scrollbar {
        display: none;
        width: 0;
        height: 0;
        background: transparent;
    }

    /* Grid Container - Single Column Layout */
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
            "image"
            "caption"
            "text";
        gap: 3vw;
        width: 100%;
        height: auto;
        overflow-y: visible;
        padding: 0;
        padding-top: 15vw;
        padding-bottom: 3.5vw;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        scroll-padding-top: 15vw;
    }

    /* Image Container - Goes First */
    .image {
        grid-area: image;
        position: relative;
        width: 100%; /* Image is 90% of its container */
        max-width: 100%;
        height: auto;
        display: block;
        overflow: visible;
        box-sizing: border-box;
        padding:2vw 5vw;
        justify-self: center;
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .image img {
        width: 100%;
        height: auto;
        object-fit: contain;
        display: block;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /* Image Caption - Goes Second */
    .image-caption {
        grid-area: caption;
        width: 100%;
        font-size: 4.5vw;
        line-height: 5.5vw;
        margin-top: 2vw;
        padding: 0 5vw;
    }

    /* Body Text - Goes Last */
    .body-text {
        grid-area: text;
        width: 100%;
        font-size: 4.5vw;
        line-height: 5.5vw;
        padding: 0 5vw;
        margin-top: 4vw;
        overflow-y: auto;
        box-sizing: border-box;
        scroll-behavior: smooth;
    }

    /* Maintain Fixed Yellow Lines */
    .fixed-lines {
        position: fixed;
        top: 0;
        left: 1.2vw;
        width: 0.35vw;
        height: 100vh;
        background: #FDDD1C;
        z-index: 25;
    }

    .fixed-lines::after {
        content: "";
        position: fixed;
        top: 0;
        right: 1.3vw;
        width: 0.35vw;
        height: 100vh;
        background: #FDDD1C;
        z-index: 25;
    }

    /* Disable Clickable Image Functionality */
    .clickable-image {
        pointer-events: none;
        cursor: default;
    }
    
    /* Header - Transparent Background */
    header {
        position: fixed;
        top: 0;
        width: calc(100% - 4vw);
        height:auto;
        padding: 3vw 5vw;
        padding-right: 4.2vw;
        z-index: 20;  /* Above gradient */
        background: transparent; /* Transparent to show gradient */
    }
    
     /* About Section - Bigger Font Size */
    .about {
        font-size: 4.5vw;  /* Increased for better visibility */
    }

    /* Icon - Bigger Size */
    .icon {
        width: 7.5vw;   /* Increased Width */
        height: 9vw;  /* Increased Height */
    }

    /* General Bar Styling - Adjusted for Larger Icon */
    .bar {
        width: 0.4vw;  /* Slightly Thicker Bars */
        height: 3vw;   /* Adjusted Height for Proportions */
    }

    .scroll-to-top {
        bottom: 3.5vw;
        font-size: 4.5vw;
        right: 6.2vw;
    }

        /* Row 1 - Top Bar */
    .row-1 {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    /* Row 2 - Two Bars */
    .row-2:nth-child(2) {
        top: 3vw;
        left: 25%;
    }

    .row-2:nth-child(3) {
        top: 3vw;
        right: 25%;
    }

    /* Row 3 - Three Bars */
    .row-3:nth-child(4) {
        top: 6vw;
        left: 0%;
    }

    .row-3:nth-child(5) {
        top: 6vw;
        left: 50%;
        transform: translateX(-50%);
    }

    .row-3:nth-child(6) {
        top: 6vw;
        right: 0%;
    }

    .column-divider-1 {
        width: 0.3vw;
        z-index: 30;
    }
    
    .column-divider-2 {
        width: 0.3vw;
        z-index: 30;
    }
    
    .column-divider-3 {
        width: 0.3vw;
        z-index: 30;
    }

    .column-divider-4 {
        width: 0.3vw;
        z-index: 30;
    }

    .column-divider-5 {
        width: 0.3vw;
        z-index: 30;
    }

    #fig-no {
        scroll-margin-top: 15vw;
    }
}